<!--<ap-photo 
  url="https://images.unsplash.com/photo-1571550901743-59c201decfa1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
  description="computer"
></ap-photo>
<ap-photo 
  url="https://images.unsplash.com/photo-1561601942-7d76698272b6?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" 
  description="building"
></ap-photo>
-->

<!--url e description sao atributos do PhotoComponent, 
  mas precisam estar com o bind de colchetes para receberem atributos do AppComponent-->
<ap-photo
  *ngFor="let photo of photos"
  [url]="photo.url"
  [description]="photo.description">
</ap-photo>


<!--
<h1>{{title}}</h1> angular expression
<img class="img-thumbnail" [src]="url" [alt]="description">one-way data binding 
-->